{% import "./news__card.html" as card %}

<section class="news">
  <h2>НОВОСТИ</h2>

  <section class="news__cards">
    {{ card.news__card ('21 октября 2021', 'Consectetur eiusmod.', "Aliqua
    voluptate mollit amet Lorem nulla. Dolore cillum occaecat laboris elit
    aliquip qui excepteur deserunt consequat. Esse enim est consequat nisi
    proident qui consequat enim exercitation officia eu esse.") }} {{
    card.news__card ('21 октября 2021', 'Consectetur eiusmod.', "Laborum sit
    adipisicing cillum anim fugiat in eu velit cupidatat cupidatat officia ipsum
    ad. Aute aliquip velit nulla duis aute veniam. Culpa adipisicing quis
    officia incididunt. Reprehenderit ullamco minim ullamco nisi. Fugiat elit
    nostrud ullamco commodo.") }} {{ card.news__card ('21 октября 2021',
    'Consectetur eiusmod.', "Nulla ut nostrud anim quis anim nostrud culpa
    tempor. Incididunt incididunt nulla occaecat veniam. Magna velit cupidatat
    veniam pariatur in deserunt cupidatat in pariatur ea esse cupidatat do.
    Laborum ullamco tempor tempor ullamco nisi aliquip ipsum aliquip. Ea commodo
    Lorem laboris laboris sint esse et nostrud veniam nostrud.") }} {{
    card.news__card ('21 октября 2021', 'Consectetur eiusmod.', "Mollit officia
    ullamco fugiat ad nulla aute dolore elit officia labore. Culpa ex nulla sunt
    dolore id id velit non. Sint ad incididunt sint ipsum Lorem eu anim quis
    occaecat tempor laboris officia. Sit magna ea nulla nisi ut incididunt. Id
    cillum dolor enim id culpa ipsum. Duis qui est consequat qui eiusmod tempor
    voluptate sunt non.") }}
  </section>

  <button>СМОТРЕТЬ ВСЕ НОВОСТИ</button>
</section>
