.about {
  display: flex;
  align-content: center;

  margin: $offset-4 0;
  padding: $offset-1 0;

  min-height: 400px;
}

.about__article {
  max-width: 50%;
  display: inline-block;
  h2 {
    color: $blue;
    font-size: $font-size-5;
  }
}
.about__video {
  width: 50%;
  & > .content {
    height: 91.5%;
    background-color: $blue;
  }
}
