@import '_mixins';
@import '_variables';
@import '_responsive';
@import '_fonts';
@import 'header/header.scss';
@import 'jumbotron/jumbotron.scss';
@import 'services/services.scss';
@import 'about.scss';
@import './numbers/numbers.scss';
@import './contact-us/contact-us.scss';
@import './news/news.scss';
@import './conferences/conferences.scss';
@import './work-groups/work-groups.scss';
@import './follow-us/follow-us.scss';

body {
  font-family: Montserrat;
  overflow-x: hidden;
}

.clearfix {
  clear: both;
}
