<section class="about">
  <div class="about__article">
    <h2>О КОМПАНИИ</h2>
    <p>
      Proident officia exercitation aute reprehenderit irure ut aliqua qui.
      Commodo deserunt labore Lorem deserunt elit anim cillum ut culpa laborum
      eiusmod. Do aliquip exercitation magna labore esse excepteur culpa sit et
      laborum ut reprehenderit. Labore adipisicing id voluptate elit sit ad. Ad
      culpa officia ut quis in reprehenderit mollit fugiat eiusmod aliqua enim.
      Veniam in cillum proident nisi proident commodo nisi. Eu aute nisi
      exercitation id consequat irure occaecat eiusmod non sint aute aliqua
      sunt.
    </p>
    <strong
      >Amet adipisicing labore laboris aliquip ipsum voluptate excepteur elit
      Lorem.</strong
    >
  </div>
  <div class="about__video">
    <div class="content">
      <iframe
        width="100%"
        height="100%"
        src="https://www.youtube.com/embed/A0FZIwabctw"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
