<section class="conferences">
    <div class="fin-school">
        <div class="fin-school__content">
            <h2>МЕЖДУНАРОДНАЯ ФИНАНСОВАЯ ШКОЛА</h2>
            <p>
        Incididunt nulla est occaecat eu non. Enim exmollit id nisi.
      </p>
        </div>
        <button>УЗНАТЬ ПОДРОБНЕЕ</button>
    </div>

    <div class="conferences__cards">

        {% include "./conferences__card.html" %}
        {% include "./conferences__card.html" %}
        {% include "./conferences__card.html" %}
    </div>
</section>