.conferences__card {
  padding: 30px 40px;
  border-radius: 3px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-image: url('../img/conferences/arrow.png');

  h3 {
    font-size: $font-size-4;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: $offset-3;
    &::after {
      content: '';
      display: block;
      width: 30px;
      height: 3px;
      background-color: $lightGray;
    }
  }
}
