.service-card {
  display: flex;

  max-width: 700px;
  min-height: 200px;
  max-height: 330px;

  img {
    object-fit: contain;
  }
}

.service-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 15px;
  max-width: 50%;

  h3 {
    font-weight: $bold;
  }

}
