@import './numbers-item.scss';

.numbers{
  background: center center no-repeat;
  background-image: url(../img/numbers/numbers__circle.png);
  background-color: $blue;
}

.numbers__background {
  max-width: 1080px;
  min-height: 480px;

  padding: 0 80px;
  margin: auto;

  color: white;

 
  

  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  align-items: center;
}

