<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Главная страница</title>
    {% include 'templates/head.html' %}
  </head>
  <body>
    <div class="GlobalWrapper">
      {% include 'templates/header.html' %} {% include
      'templates/jumbotron.html' %}

      <!-- четыре карточки с услугами -->
      {% include 'templates/services/services.html' %}

      <!-- о компании и видео -->
      {% include "templates/about.html" %}

      <!-- баннер с цифрами достижений -->
      {% include "templates/numbers/numbers.html" %}

      <!-- свяжись с нами -->
      {% include "templates/contact-us.html" %}

      <!-- нннннновости  -->
      {% include "templates/news/news.html" %}

      <!-- конференции семинары лекции -->
      {% include "templates/conferences/conferences.html" %}

      <!-- рабочие группы (предпоследняя секция) -->
      {% include "templates/work-groups/work-groups.html" %}

      <!-- подписаться на рассылку (бооооже, почти закончил) -->
      {% include "templates/follow-us/follow-us.html" %}
    </div>
    {% include 'templates/footer.html' %}
    <div class="sign">Made on Earth by Humans</div>
  </body>
</html>
