<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Главная страница</title>
    {% include 'templates/head.html' %}
  </head>
  <body>
    <div class="content" style="max-width: 1400px; margin: auto; padding:50px;">
      {% include 'templates/header.html' %}
      {% include
      'templates/jumbotron.html' %}

      <!-- четыре карточки с услугами -->
      {% include 'templates/services/services.html' %}

      <!-- о компании и видео -->
      {% include "templates/about.html" %}

      {% include 'templates/footer.html' %}
    </div>
  </body>
</html>