<section class="work-groups">
  <div class="work-groups__content">
    <h3>
      Извините, но нужную картинку почти невозможно найти в слоях макета.
    </h3>
    <h4>По этому я поставил фото настоящего космического корабля :)</h4>
    <p>
      Dragon 2 ( также известный как Crew Dragon ) — американский многоразовый
      пилотируемый космический корабль компании SpaceX, разработанный по заказу
      НАСА.
    </p>
    <p>
      Предназначен для доставки экипажа до 7 человек на Международную
      космическую станцию и возвращения их на Землю.
    </p>
    <p>
      Dragon 2 выводится на орбиту ракетой-носителем Falcon 9 со стартового
      комплекса LC-39A в Космическом центре Кеннеди. С этой же площадки люди
      летали на Луну.
    </p>
    <p>
      Первый испытательный запуск корабля выполнен 2 марта 2019 года без
      экипажа. Испытательный пилотируемый полёт с двумя астронавтами на борту
      начался 30 мая 2020 года, а 31 мая корабль успешно пристыковался к
      адаптеру IDA американского модуля «Гармония» МКС.
    </p>

    <a href="https://youtu.be/n-HpqFkbr78" target="blank"
      >Посмотреть Пуск (2:59)</a
    >
  </div>
</section>
